/* 
    Created on : Nov 9, 2021, 8:27:35 PM
    Author     : Connor
    
    This is just an experiment. I had a friend who said you could style javaFX using CSS
*/

.sidebar{
    -fx-background-color: #25263A;
}
.sidebar-btn{
    -fx-background-color: transparent;
    -fx-background-size: 30px;
    -fx-padding: 0;
}

.sidebar-btn-txt{
    -fx-text-fill:#ffffff;
     
}

.mainPane{
    -fx-background-color:#23345a;
        
}

.imgpane{
    -fx-background-radius:30px;
}

.volume-bar-loud{
    -fx-image: url(../../../../../resources/IIcons/volume-up-line.png);
}

.volume-bar-quiet{
    -fx-image: url(../../../../../resources/IIcons/volume-down-line.png);
}

.volume-bar-mute{
    -fx-image: url(../../../../../resources/IIcons/volume-mute-line.png);
}

.skip-forward-button{
    -fx-background-image: url(../../../../../resources/IIcons/skip-forward-fill.png);
}

.skip-backward-button{
    -fx-background-image: url(../../../../../resources/IIcons/skip-back-fill.png);
}

.play-button{
    -fx-background-image: url(../../../../../resources/IIcons/play-mini-fill.png);
}

.pause-button{
    -fx-background-image: url(../../../../../resources/IIcons/pause-fill.png);
}